{{#if isBlog}}
  <span class="poster-details">posted by</span>
  <a href="{{topicPost.usernameUrl}}" classNames="trigger-user-card"
     data-user-card="{{topicPost.username}}">
    {{avatar topicPost imageSize="large"}} {{topicPost.username}}</a>
  <span class="poster-details">on</span>
  {{postDate}}
  <span class="poster-details">in</span>
  {{category-link model.category}}
{{/if}}